<h1>About us</h1>

  <p>
    PHP Academy Booking is sample web application for demonstration of Symfony 3 web framework functionality.

    PHP Academy is organized by <a href="http://www.adriatic.hr">Adriatic.hr</a> from december 2016 until february 2017.
  </p>
  <p>
    You may contact us via phone: +385 21 456 456
    <br />or email: hr@adriatic.hr
  </p>

<a href="{{ path('AppBundle_Welcome_homepage') }}">Back to home</a>