{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
  <h1>PHP Academy Booking app</h1>

  <p>
      Welcome! Take a look at our accommodation offer.
  </p>

  <a href="{{ path('AppBundle_Welcome_about') }}">About us.</a>
{% endblock %}


