{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>PHP Academy Booking app</h1>

    <p>
        {{ rot13function('Welcome! Take a look at our')|rot13filter }}
        <a href="{{ path('AppBundle_Accommodation_accommodationList') }}">accommodation offer</a>.
    </p>

    <a href="{{ path('AppBundle_Welcome_about') }}">About us.</a>
{% endblock content %}


