# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
  app.twig_extension:
    class: AppBundle\Twig\DemoExtension
    public: false
    tags:
        - { name: twig.extension }
